/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 * {
     background-color: lavender;
 }

 h1, h2, h3, h4, h5 {
     text-align: center;   
 }

 h1 {
     color: white;
     border: solid;
     background-color: black;
 }
 p {
     text-align: center;
    
 }

 .box {
    text-align: center;
    padding: 20px;
    border: solid;
    box-sizing: content-box;
   }

   .search {
    text-align: center;
    padding: 10px;
    border: solid;
    box-sizing: content-box;
   }

   a:link {
    color: black;
  }

  /* visited link */
a:visited {
    color: rgb(223, 141, 172);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(144, 7, 76);
  }
  
  /* selected link */
  a:active {
    color: rgb(69, 9, 138);
  }